<h1 class="cat">$category.getName()</h1>

<h2 class="cat">Edit Category:</h2>

<form action="/categories/$category.getId()" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-lg add"></p class="add-btn">Update Category</p></button>
</form>

<a href="/">Return to Home</a>