<div class="container">
<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
<p class="success"> SUCCESS!! </p>
    </div>
    <div class="col-sm">
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
       <a href="/"><button type="submit" class="btn add btn-lg"><p class="add-btn">CLICK TO VIEW ALL SQUADS</p></button></a>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>